@page
@model EditUsersInRoleModel
@{
    ViewData["Title"] = "Edit Users In Role";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit Users In Role</h1>

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or remove users from this role</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.model[i].UserId" />
                    <input type="hidden" asp-for="@Model.model[i].UserName" />
                    <input asp-for="@Model.model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model.model[i].IsSelected">
                        @Model.model[i].UserName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
            <a asp-page="/Administration/ListRoles" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>

